################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModularMain/bin
/ModularMain/obj
/ModularMain/Properties/PublishProfiles
/ModularRazorWeb/bin
/ModularRazorWeb/obj
/ModularWebApp/ModularMain/bin/Debug/netcoreapp3.1
/ModulesRCL/obj
/Research/ModularWebApp/ModularMain/Modules/netcoreapp3.1
