@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style type="text/css">
    #container-client-list {
        width: 100vw;
        height: 86vh;
    }

    .body-container {
        min-height: 81vh !important;
    }
</style>

<div id="container-client-list"></div>
<script src="~/js/zoid-components/client-list.js"></script>
